  <div class="ui fluid multiple dropdown" [ngClass]="{'invalid':isError}" >
    <div class="square" [ngStyle]="{'overflow':((!selectedItems || selectedItems.length===0)?'hidden': 'auto'),
  'resize':((!selectedItems || selectedItems.length===0)?'hidden':'both')}"
     (click)="menuClicked($event)" >
      <p *ngIf="(!selectedItems || selectedItems.length===0)">Please select</p>
    <div ><a *ngFor="let item of selectedItems" (click)="onDelete(item,$event)"
    >{{item.value }},<br *ngIf="(selectedItems && selectedItems.length!=0)"></a>
    </div>   
    <div *ngIf="isError"><p class="error">Please select {{min<2?'an item':'at least '+ min+ ' items' }}!</p></div>
    </div>
    <div *ngIf="isOpen" id="myDropdown" 
     [ngClass]="{'dropdown-content':!isOpen,'dropdown-content show':isOpen}">
      <input *ngIf="guide" type="text" placeholder="Search.." [(ngModel)]="searchInput" id="searchInput" >
      <a *ngFor="let item of ( data | filter:{data:data,input:searchInput} ) " (click)="onItemClick(data.indexOf(item),$event)">{{item}}</a>
  
    </div>
  </div>
   <!-- <div *ngIf="datasource">
     <button class="btn btn-succes" (click)="saveData()">Save</button>
   </div> -->

  <ng-content></ng-content> 
