
#myInput {
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}
#searchInput {
    background-image: url('/assets/search.png'); 
     background-position: 14px 12px;
     background-size: 30px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    width: 100%;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f6f6f6;
    overflow: auto;
    border: 1px solid #ddd;
    width: 100%;
    display: block;
    max-height: 300px;
    opacity: 1000;


}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}
a.select {background-color: #ddd}

.show {display:block;}

 div.invalid{
    border:1px inset red ;
 }
 p.error{
     color:red;
 }
 .tag-container {
    border:1px inset #AAA;
    width: auto;
    height: auto;
    overflow: auto;
}

.tag {
    width: auto;
    height: auto;
    background:rgb(152, 223, 223);
    border: 1px inset rgb(118, 245, 245);
    margin-left: 2px;
    padding-right: 8px;
    padding-top: -2px;
    padding-bottom: -2px;
    float: left;
    position: relative;
  

}
.bottom {
    position: relative;
    bottom: 0;
    left: auto;
    vertical-align:middle;

}
i {
    right:-200px;
    border: solid black;
    position: inherit;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-top: 12px;


}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.tag:hover {
    background-color:red;
}