<div class="rows">
    <div class="column"><label>Selection Simple <font color="red">Required</font></label>
        <app-select (selected)="onSelect($event)" [isRequired]="true" [data]="countries">
        </app-select>
    </div>
    <div class="column"><label>Select guidé <font color="red">Required</font></label>
        <app-select #select (selected)="onSelect($event)" [isRequired]="true" [guide]="true" [data]="countries">
        </app-select>
    </div>
    <div class="column">
       <label> Select Multiple <font color="red">Required</font></label>
        <app-select (selected)="onSelect($event)" [isMulti]="true" [isRequired]="true" [data]="countries">
        </app-select>
    </div>
    <div class="column">
        <label> Multiple + Guide <font color="red">Required</font></label>
        <app-select (selected)="onSelect($event)" [isMulti]="true" [isRequired]="true" [guide]="true" [data]="countries">
        </app-select>
    </div>
    <div class="column">
       <label> Multiple + min + max <font color="red">Required</font></label>
        <app-select (selected)="onSelect($event)" [isMulti]="true" [isRequired]="true" [guide]="false" [data]="countries" [min]=2
            [max]=5>
        </app-select>
    </div>
    <div class="column">
       <label> Multiple+min+max <font color="blue">Not Required</font></label>
        <app-select (selected)="onSelect($event)" [isMulti]="true" [guide]="false" [data]="countries" [min]=2 [max]=5>
        </app-select>
    </div>
    <div class="column">
        Firebase <font color="blue">Not Required</font>
        <app-select (selected)="onSelect($event)" [isMulti]="true" [guide]="false" [dataSource]="datasrc" [min]=2 [max]=5>
        </app-select>
    </div>
    <div class="column">
        Firebase + Function <font color="blue">Not Required</font>
        <app-select (selected)="onSelect($event)" [isMulti]="true" [guide]="false" [dataSource]="datasrc2" [dataScheme]="setDataScheme2"
            [min]=2 [max]=5>
        </app-select>
    </div> 
     <div class="column">
        Firebase + Guide + Min + Max<font color="blue">Not Required</font>
        <app-select (selected)="onSelect($event)" [isMulti]="true" [guide]="true" [dataSource]="datasrc2"  [dataScheme]="'deal'"
            [min]=2 [max]=5>
        </app-select>
    </div> 
    <div class="column">
        NgContent <font color="blue">Not Required</font>
        <app-select (selected)="onSelect($event)" [isMulti]="true" [guide]="true">
            <app-option>Winter</app-option>
            <app-option>Autumn</app-option>
            <app-option>Summer</app-option>
            <app-option>Spring</app-option>
            <app-option>Other</app-option>
        </app-select>
    </div>
 </div>
<!--<button (click)="onAdd()" class="btn btn-success">Add</button>
<br>
Results:
<div >

</div> -->
