<div class="row">
    <div class="column">Select Simple<app-select [isRequired]="true"  [data]="countries">
    </app-select></div>
    <div class="column">Select guidé<app-select [isRequired]="true"  [guide]="true" [data]="countries">
    </app-select></div>
    <div class="column">
        Select multiple
        <app-select [isMulti]="true" [isRequired]="true"  [data]="countries" >
        </app-select>
    </div>
    <div class="column">
        Select multiple
        <app-select [isMulti]="true" [isRequired]="true"  [guide]="true"  [data]="countries" >
        </app-select>
    </div>
    <div class="column">
         multiple+min+max
        <app-select [isMulti]="true" [isRequired]="true" [guide]="false" [data]="countries" [min]=2 [max]=5 >
        </app-select>
    </div>
    <div class="column">
         multiple+min+max Not Required
        <app-select [isMulti]="true" [guide]="false" [data]="countries" [min]=2 [max]=5 >
        </app-select>
    </div>
    <div class="column">
         Firebase
        <app-select [isMulti]="true" [guide]="false" [datasource]="datasrc" [min]=2 [max]=5 >
        </app-select>
    </div>
  </div>
<!-- <app-select name="" id="">
    <option>a</option>
    <option>b</option>
    <option>b</option>
    <option>b</option>
    <option>b</option>
</app-select> -->